<div class="form-Container">
    <!--BreadCrumb-->
    <ul class="breadcrumbcss">
        <li><a>Cadastro</a></li>
        <li><a>Busca de Médico</a></li>
    </ul>

    <h1>Busca de Médico</h1>
    <div class="well">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr class="tabela-backcolor-red">
                        <th>Medicos</th>
                        <th>CRM</th>
                        <th width="70">Ações</th>
                    </tr>
                </thead>
                <tbody ng-repeat="medico in medicos">
                    <tr>
                        <td>{{medico.Nome}}</td>
                        <td>{{medico.Crm}}</td>
                        <td>
                            <a href=""><i class="fa fa-times red-text" style="margin-left: 5px"></i></a>
                            <a ng-click="Editar(medico)"><i class="fa fa-pencil-square-o red-text" style="margin-left: 5px"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    input.empty {
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
    }
</style>