<div class="form-Container">
    <!--BreadCrumb-->
    <ul class="breadcrumbcss">
        <li><a>Cadastro</a></li>
        <li><a>Cadastro de Paciente</a></li>
    </ul>

    <h1>Cadastro de Paciente</h1>

    <div class="well">
        <div class="row">

            <div class="col-sm-8">
                <!--Descrição-->
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="text" ng-model="pacienteDto.nome" class="form-control" placeholder="Nome" maxlength="45" />
                    </div>
                </div>
                <!--CPF-->
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="text" ng-model="pacienteDto.cpf" class="form-control" placeholder="CPF" maxlength="11" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <hr>
            <div class="col-md-3 col-md-offset-9">
                <div class="button-right">
                    <button class="btn btn-default navbar-btn" type="button" ng-click="cancelar()"><i class="fa fa-ban"></i>&nbsp;&nbsp;Cancelar</button>
                    <button class="btn btn-default navbar-btn" type="button" ng-click="salvar()"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>
